:root{

    --bg-blue: #2c2d3c;
}

.splide{

    margin-bottom: 50px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
    padding: 20px;
}

.splide__pagination__page{

    background: #ccc;
    border: 0;
    border-radius: 2.5px;
    display: inline-block;
    height: 5px;
    margin: 3px;
    padding: 0;
    position: relative;
    transition: background-color .2s ease;
    width: 20px;
}

.splide__pagination {

    position: relative;
    margin-top: 40px !important;
}


.splide__pagination__page.is-active {
    background: #a13458;
    transform: scale(1.4);
    z-index: 1;
}

.project-container{

    margin-top: 20px;
    height: 100%;
}

.conteiner-colunas{

    max-height: 100%;
}

.project-image{

    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

.project-image img{

    
    height: 100%;
    overflow: hidden;
    
}

.project-info{
    background: white;    
}
