:root{

    --bg-blue: #2c2d3c;
}

html{
    scroll-behavior: smooth;
}

.img_banner{
    border-radius: 18px;
}

.column-container-apresentacao{
    max-width: 100%;
    margin-bottom: 0px !important;

    margin-left: 0; 
    margin-right: 0; 
    margin-top: 0;
}

.column-sobre{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.column-foto{

    display: flex;
    background: var(--bg-blue);
    border-radius: 0px 10px 0px 0px;
    padding-bottom: 0;
    align-items: end;
}

.apresentacao-titulo{
    width: 75%;
    font-size: 1.8rem;
}

.apresentacao-sobre{
    font-size: 1.1rem;
    width: 75%;

}

.apresentacao-buttons{

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.apresentacao-buttons, .apresentacao-buttons button{

    width: 100%;
}

.container-contato{

    display: flex;
    flex-direction: column;
    
}

.apresentacao-buttons .btn-contato{

    background: var(--bg-blue);
    color: white;
}


.languages-hero{
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-blue);
    
    margin-left: 0; 
    margin-right: 0; 
    margin-top: 0;
}

.contato-social{
    height: auto;
    display: flex;
    justify-self: auto;
    align-items: self-end;
}

.navbar-item img {
     max-height: 4rem;
}

.svg-java{
    position: relative;
    top: -17px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: 68px;
    background: #c3c9d9;
    height: 68px;
    border-radius: 15px;
}

.navbar-menu{
    position: relative;
    left: 170px;
}

.img-projeto{
    max-height: 320px;
}

.btn-sobre:hover{
    background: #2b5197;
    color: white;
    transition: 0.5s;
}


.another-projects-span{
    width: 20%;
    font-family: Helvetica, Arial;
    margin-bottom: 20px;
    text-decoration: underline;
}

.another-project-countainer{

    display: flex;
    flex-direction: row;
}

.tecnologias-tags span{

    border: 1px solid black;
    border-radius: 8px;
    padding: 0px 5px;
    margin: 0px 8px;
}

@media (max-width: 950px) {
    
    

    .column-foto, .img_banner{
        display: none;
    }
}

@media (max-width: 1025px) {


    .presentation{

        margin-left:  40px !important;
        margin-right: 40px !important;
    }

    .presentation h1{

        font-size: 2rem !important;
    }
}
